/**
*
*
*	WooCommerce Incremental Product Quantities Styles 
*
*
**/

/* --------- quantity rules: set incremental rule options ---------- */

.wpbo-meta {
	overflow: hidden;
	padding: 0 10px;
}
.wpbo-meta label {
	float: left;
	clear: left;
	margin: 8px 0 0;
	width: 100px;
}
.wpbo-meta input {
	float: left;
	margin: 5px 0;
	padding-right: 15px;
}

/* --------- quantity rules: product categories ---------- */

.rule-product-cats {
	padding: 0 10px;
}

input[type=checkbox], input[type=radio] {
	margin-right: 5px !important;
}

ul.level-2 {
	margin-left: 18px;
}
ul.level-3 {
	margin-left: 18px;
}
ul.level-4 {
	margin-left: 18px;
}

/* --------- products: product quantity rules ---------- */

#wpbo_product_info .postbox .inside {
	padding: 0;
}

.active-rule span, .rule-input-boxes label {
	float: left;
	width: 125px;
}
.rule-meta table {
	width: 100%;
}
.rule-meta table th {
	text-align: left;
}
.rule-meta, .rule-input-boxes {
	overflow: hidden;
}
.rule-meta .meta-value-single, .rule-meta .meta-value-title {
	margin: 5px 0;
}

.rule-meta .roles {
	float: left;
	padding-top: 2px;
}

.rule-meta .roles .meta-value-single {
	clear: left;
	margin: 0;
}

.rule-meta .roles p {
	clear: left;
}

span.wpbo_product_values {
	clear: left;
}

.meta-value-single, .rule-input-boxes span, .rule-input-boxes input[type="number"] {
	float: left;
	margin: 4px 0;
}
.meta-value-title, .rule-input-boxes label {
	float: left;
	clear: left;
	margin: 5px 0;
	width: 150px;
}

.rule-input-boxes input[type="checkbox"] {
	float: left;
	clear: left;
	margin: 5px 0;
}

.active-rule {
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 12px;
}

.active-rule span.active-toggle {
	float: right;
	width: auto;
}

.active-rule span.active-toggle a {
	cursor: pointer;
	width: 27px;
	height: 30px;
	color: #444;
}

.rule-meta {
	display: none;
	border-top: 1px solid white;
	border-bottom: 1px solid #dfdfdf;
	padding: 5px 12px;
}

.rule-input-boxes{
	border-top: 1px solid white;
	padding: 5px 12px;
}

.inactive-rule, .rule-message {
	border-bottom: 1px solid #dfdfdf;
	padding: 5px 10px 10px;
}

/* --------- wpbo company notice ---------- */
#wpbo-company-notice .inside {
	text-align: center;
}

/* --------- wpbo additional info ---------- */
#wpbo-additional-info .inside div {
	text-align: center;
}

#wpbo-additional-info .inside a {
	line-height: 3em;
}

.clear-left {
	clear: left;
}

/* --------- advanced rules ---------- */
.quantity-rule_page_class-ipq-advanced-rules .form-table input[type=text] {
	min-width: 400px !important;
}
